
  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Add new
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-container">
              <div>
                <div class="form-field">
                  <label class="form-label" for="product-name">Tên sản phẩm:</label>
                  <input class="form-input" type="text" id="product-name" name="product-name"
                    [(ngModel)]="requestData.sanpName" />
                </div>

                <div class="form-field">
                  <label class="form-label" for="note">Mô tả:</label>
                  <input class="form-input" id="note" name="note" rows="3" [(ngModel)]="requestData.tomtat" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Giá tiền:</label>
                  <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.price" />
                </div>

                <div class="form-field">
                  <label class="form-label" for="price">Ram:</label>
                  <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.ram" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Rom:</label>
                  <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.rom" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Display:</label>
                  <input class="form-input" type="text" id="price" name="price"
                    [(ngModel)]="requestData.display" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Cpu:</label>
                  <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.cpu" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Battery:</label>
                  <input class="form-input" type="text" id="price" name="price"
                    [(ngModel)]="requestData.battery" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="price">Card:</label>
                  <input class="form-input" type="text" id="price" name="price"
                    [(ngModel)]="requestData.card" />
                </div>

                <div class="form-field">
                  <label class="form-label" for="price">Năm sản xuất:</label>
                  <input class="form-input" [(ngModel)]="requestData.namsx" type="datetime-local" />
                </div>
                <div class="form-field">
                  <label class="form-label" for="category">Thể loại:</label>
                  <select class="form-select" id="category" name="category" [(ngModel)]="requestData.loaiId">
                    <option *ngFor="let x of branch" [value]="x.loaiId">
                      {{x.loaiName}}
                    </option>
                  </select>
                </div>

                <div class="form-field">
                  <label class="form-label" for="category">Nhà sản xuất:</label>
                  <select class="form-select" id="category" name="category" [(ngModel)]="requestData.nsxId">
                    <option *ngFor="let x of company" [value]="x.nsxId">
                      {{x.nsxName}}
                    </option>
                  </select>
                </div>



                <div class="form-field">
                  <label class="form-label" for="image">Hình ảnh:</label>
                  <input type="file" id="imageUpload" name="image" accept="image/*" (change)="onFileChanged($event)" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="addproduct()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          New
        </button>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="" width="100%" cellspacing="0">
            <thead class="thead-dark">
              <tr>

                <th>Name</th>
                <th>Ram</th>
                <th>Rom</th>
                <th>Display</th>
                <th>Battery</th>
                <th>Cpu</th>
                <th>Card</th>
                <th>Created Date</th>
                <th>Price</th>
                <th>Image</th>
                <th>Options</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let x of product">

                <td>{{x.sanpName}}</td>
                <td>{{x.ram}}</td>
                <td>{{x.rom}}</td>
                <td>{{x.display}}</td>
                <td>{{x.battery}}</td>
                <td>{{x.cpu}}</td>
                <td>{{x.card}}</td>
                <td>{{x.namsx}}</td>
                <td>{{x.price}}<sup>₫</sup></td>
                <td>
                  <img style="width: 100px" src="https://localhost:7261/uploads/{{x.image}}" alt="Li's Product Image"> 
                </td>
                <td>
                  
                  <a
                  
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModaledit"
                  (click)="openModel(x.sanpId)"
                  class="btn btn-warning"
                  ><i class="fa-solid fa-pen"></i
                ></a> 

                  <div class="modal fade" id="exampleModaledit" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Edit
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="form-container">
                            <div>
                              <div class="form-field">
                                <label class="form-label" for="product-name">Tên sản phẩm:</label>
                                <input readonly class="form-input" type="text" id="product-name" name="product-name"
                                  [(ngModel)]="requestData.sanpId" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="product-name">Tên sản phẩm:</label>
                                <input class="form-input" type="text" id="product-name" name="product-name"
                                  [(ngModel)]="requestData.sanpName" />
                              </div>
                              
              
                              <div class="form-field">
                                <label class="form-label" for="note">Mô tả:</label>
                                <input class="form-input" id="note" name="note" rows="3" [(ngModel)]="requestData.tomtat" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Giá tiền:</label>
                                <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.price" />
                              </div>
              
                              <div class="form-field">
                                <label class="form-label" for="price">Ram:</label>
                                <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.ram" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Rom:</label>
                                <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.rom" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Display:</label>
                                <input class="form-input" type="text" id="price" name="price"
                                  [(ngModel)]="requestData.display" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Cpu:</label>
                                <input class="form-input" type="text" id="price" name="price" [(ngModel)]="requestData.cpu" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Battery:</label>
                                <input class="form-input" type="text" id="price" name="price"
                                  [(ngModel)]="requestData.battery" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="price">Card:</label>
                                <input class="form-input" type="text" id="price" name="price"
                                  [(ngModel)]="requestData.card" />
                              </div>
              
                              <div class="form-field">
                                <label class="form-label" for="price">Năm sản xuất:</label>
                                <input class="form-input" [(ngModel)]="requestData.namsx" type="datetime-local" />
                              </div>
                              <div class="form-field">
                                <label class="form-label" for="category">Thể loại:</label>
                                <select class="form-select" id="category" name="category" [(ngModel)]="requestData.loaiId">
                                  <option *ngFor="let x of branch" [value]="x.loaiId">
                                    {{x.loaiName}}
                                  </option>
                                </select>
                              </div>
              
                              <div class="form-field">
                                <label class="form-label" for="category">Nhà sản xuất:</label>
                                <select class="form-select" id="category" name="category" [(ngModel)]="requestData.nsxId">
                                  <option  [value]=1>
                                    1
                                  </option>
                                </select>
                              </div>
              
              
              
                              <div class="form-field">
                                <label class="form-label" for="image">Hình ảnh:</label>
                                <input type="file" id="imageUpload" name="image" accept="image/*" (change)="onFileChanged($event)" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                          </button>
                          <button type="button" class="btn btn-primary" (click)="updateProduct()" data-bs-dismiss="modal">
                            Save
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a  type="button" (click)="deleteproduct(x.sanpId)" class="btn btn-danger"><i
                      class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="padding-left: 50%;" class="padding-box">
          <div class="box-sum">
            <div style="padding-left: 5px;" class="box-right">
              <button style="color: white; background-color: blue;" (click)="previousPage()">
                <i class="fa fa-chevron-left" style="margin-top: -8px;"></i>
              </button>
              <button style="color: white;background-color: blue;" *ngFor="let page of totalPageArray"
                (click)="setPage(page)">
                {{ page }}
              </button>
              <button style="color: white;background-color: blue;" (click)="nextPage()">
                <i class="fa fa-chevron-right" style="margin-top: -8px;"></i>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
 