<header>
  <!-- Begin Header Top Area -->
  <div class="header-top">
      <div  style="height: 90%;" class="container">
          <div class="row">
              <!-- Begin Header Top Left Area -->
              <div class="col-lg-3 col-md-4">
                  <div class="header-top-left">
                      <ul class="phone-wrap">
                          <li><span>Telephone Enquiry:</span><a href="#">(+123) 123 321 345</a></li>
                      </ul>
                  </div>
              </div>
              <!-- Header Top Left Area End Here -->
              <!-- Begin Header Top Right Area -->
              <div class="col-lg-9 col-md-8">
                  <div class="header-top-right">
                      <ul *ngIf="user; else showLoginSignup" class="ht-menu">
                          <!-- Begin Setting Area -->
                          
                          <!-- Setting Area End Here -->
                          <!-- Begin Currency Area -->
                          <li>
                              <a style="color: black;" [routerLink]="['/client/account']" class="currency-selector-wrapper">{{user.hoTen}}</a>
                          </li>
                          <!-- Currency Area End Here -->
                          <!-- Begin Language Area -->
                          <li>
                            <a (click)="logOut()" class="currency-selector-wrapper">Đăng xuất</a>
                          </li>
                          <!-- Language Area End Here -->
                      </ul>
                      <ng-template #showLoginSignup>
                        <!-- Hiển thị khi user là null -->
                        <ul class="ht-menu">
                            <!-- Begin Setting Area -->
                            
                            <!-- Setting Area End Here -->
                            <!-- Begin Currency Area -->
                            <li>
                                <span [routerLink]="['/client/login']" class="currency-selector-wrapper">Đăng nhập</span>
                            </li>
                            <!-- Currency Area End Here -->
                            <!-- Begin Language Area -->
                            <li>
                              <span [routerLink]="['/client/register']" class="currency-selector-wrapper">Đăng kí</span>
                            </li>
                            <!-- Language Area End Here -->
                        </ul>
                    </ng-template>
                  </div>
              </div>
              <!-- Header Top Right Area End Here -->
          </div>
      </div>
  </div>
  <!-- Header Top Area End Here -->
  <!-- Begin Header Middle Area -->
  <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
      <div class="container">
          <div class="row">
              <!-- Begin Header Logo Area -->
              <div class="col-lg-3">
                  <div class="logo pb-sm-30 pb-xs-30">
                      <a [routerLink]="['/client/Home']">
                          <img src="../../../../../assets/images_client/menu/logo/1.jpg" alt="">
                      </a>
                  </div>
              </div>
              <!-- Header Logo Area End Here -->
              <!-- Begin Header Middle Right Area -->
              <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                  <!-- Begin Header Middle Searchbox Area -->
                  <div class="hm-searchbox">
                      
                      <input [(ngModel)]="name" type="text" placeholder="nhập tên sản phẩm ...">
                      <button class="li-btn" (click)="search()" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                  <!-- Header Middle Searchbox Area End Here -->
                  <!-- Begin Header Middle Right Area -->
                  <div class="header-middle-right">
                      <ul class="hm-menu">
                          <!-- Begin Header Middle Wishlist Area -->
                          <li class="hm-wishlist">
                              <a href="wishlist.html">
                                  <span class="cart-item-count wishlist-item-count">0</span>
                                  <i class="fa fa-heart-o"></i>
                              </a>
                          </li>
                          <!-- Header Middle Wishlist Area End Here -->
                          <!-- Begin Header Mini Cart Area -->
                          <li class="hm-minicart">
                              <div class="hm-minicart-trigger">
                                  <span [routerLink]="['/client/Cart']" class="item-icon"></span>
                                  <span class="item-text">£160
                                      <span class="cart-item-count">2</span>
                                  </span>
                              </div>
                              <span></span>
                             
                          </li>
                          <!-- Header Mini Cart Area End Here -->
                      </ul>
                  </div>
                  <!-- Header Middle Right Area End Here -->
              </div>
              <!-- Header Middle Right Area End Here -->
          </div>
      </div>
  </div>
  <!-- Header Middle Area End Here -->
  <!-- Begin Header Bottom Area -->
  <div class="header-bottom header-sticky d-none d-lg-block">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <!-- Begin Header Bottom Menu Area -->
                  <div class="hb-menu hb-menu-2 d-xl-block">
                      <nav>
                          <ul>
                              <li class="dropdown-holder"><a >Danh mục</a>
                                  <ul class="hb-dropdown">
                                      <li *ngFor="let x of branch"><a [routerLink]="['/client/productCategory', x.loaiId]"  >{{x.loaiName}}</a></li>
                                      
                                  </ul>
                              </li>
                              
                              <li><a [routerLink]="['/client/Product']" >Sản phẩm</a></li>
                              <li ><a [routerLink]="['/client/myOrder']">Đơn hàng</a></li>
                              <!-- Begin Header Bottom Menu Information Area -->
                              <li class="hb-info f-right p-0 d-sm-none d-lg-block">
                                  <span>6688 London, Greater London BAS 23JK, UK</span>
                              </li>
                              <!-- Header Bottom Menu Information Area End Here -->
                          </ul>
                      </nav>
                  </div>
                  <!-- Header Bottom Menu Area End Here -->
              </div>
          </div>
      </div>
  </div>
  <!-- Header Bottom Area End Here -->
  <!-- Begin Mobile Menu Area -->
  <div class="mobile-menu-area d-lg-none d-xl-none col-12">
      <div class="container"> 
          <div class="row">
              <div class="mobile-menu">
              </div>
          </div>
      </div>
  </div>
  <!-- Mobile Menu Area End Here -->
</header>