<div class="header-contact text-center">
    <h1>Quên mật khẩu</h1>
</div>
<div style="margin-bottom: 70px;" id="customer-login">
    <div id="login" class="userbox">
        <div class="accounttype">
            <h2 class="title"></h2>
        </div>
        <div  id="customer_login">
            
            <input name="utf8" type="hidden" value="✓" />
            <div class="clearfix large_form">
                <label for="customer_password" class="icon-field"><i class="fa fa-lock" style="color: black;"></i></label>
                <input [(ngModel)] = "passWord" required type="password" id="customer_password"  placeholder="Mật khẩu mới" class="text" />
            </div>
            <div class="clearfix large_form">
                <label for="customer_password" class="icon-field"><i class="fa fa-lock" style="color: black;"></i></label>
                <input  required type="password" id="customer_password" placeholder="Xác nhân mật khẩu" class="text" size="16" />
            </div>
            <div class="action_bottom">
                <input  class="btn btn-signin" type="submit" (click)="ResetPassword()" value="Đổi mật khẩu" />
                <!-- <div *ngIf="isLoading">Đang đăng nhập...</div> -->
            </div>
            
            <input id="b67806b848ae44668d5d1e66fd860c2a" name="g-recaptcha-response" type="hidden" value="your-recaptcha-response" />
        </div>
       
    </div>
   
</div>
