
        <div style="display: grid; grid-template-columns: 32% 66%;" class="contents">
            <div class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fas fa-boxes"></i> Thông tin đơn hàng
                        <hr />
                    </div>
                    <div class="modal-body">
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Mã đơn: </label>
                            <span>&nbsp;{{order.maDonHang}} </span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Tên khách hàng: </label>
                            <span>&nbsp;{{order.tenKhachHang}} </span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Địa chỉ: </label>
                            <span>&nbsp; {{order.diaChi}}</span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Số điện thoại: </label>
                            <span>&nbsp; {{order.sdt}}</span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Email: </label>
                            <span>&nbsp; {{order.email}}</span>
                        </div>

                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Ngày đặt: </label>
                            <span>&nbsp; {{order.ngayDat}}</span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Giá tiền: </label>
                            <span>&nbsp; {{order.toTal}}</span>
                        </div>
                        <div class="col-12 col-s-12 padding-box">
                            <label for="txtright">Trạng thấi: </label>
                            <span>&nbsp; {{order.trangThai}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div style="margin-left: 30px;" class="content">
                <div class="tabcontent">
                    <div class="title">
                        <i class="fas fas fa-boxes"></i> Danh sách chi tiết đơn hàng
                        <hr />
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="padding-box">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mã Sản phẩm</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Hình ảnh</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                 <tr *ngFor="let x of orderDetail">
                                    <td>{{x.sanpId}}</td>
                                    <td>{{x.sanpName}}</td>
                                    <td> <img src="https://luan2k2hy.blob.core.windows.net/fileupload/{{x.image}}" alt="Li's Product Image"></td>
                                    <td>{{x.soLuong}}</td>
                                    <td>{{x.giaMua}}</td>
                                 </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    


